<!-- Navigation -->
<nav class="fixed w-full z-50 py-6 px-8 bg-white">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <a href="{{ '/' | relative_url }}" class="flex items-center space-x-3 text-xl font-medium tracking-wide hover:underline">
      <img src="{{ '/assets/img/logo-square.png' | relative_url }}" alt="EvalEval Logo" class="h-8 w-8 object-contain">
      <span class="inline-block align-middle">EvalEval Coalition</span>
    </a>    

    <!-- Desktop Menu -->
    <div class="hidden md:flex space-x-8">
      <a href="{{ '/about/' | relative_url }}" class="nav-link text-sm">About</a>
      <a href="{{ '/projects/' | relative_url }}" class="nav-link text-sm">Research</a>
      <a href="{{ '/blog/' | relative_url }}" class="nav-link text-sm">Blog</a>
      <a href="{{ '/resources/' | relative_url }}" class="nav-link text-sm">Resources</a>
      <a href="{{ '/#contact' | relative_url }}" class="nav-link text-sm">Contact</a>
    </div>

    <!-- Hamburger Button -->
    <button id="menu-toggle" class="md:hidden focus:outline-none">
      <i class="fas fa-bars text-xl"></i>
    </button>
  </div>

  <!-- Mobile Menu -->
  <!-- <div id="mobile-menu" class="hidden md:hidden flex-col absolute top-full left-0 w-full bg-white border-t border-gray-200 shadow-md max-h-[80vh] overflow-y-auto z-40 px-4 py-4 space-y-4"> -->
  <div id="mobile-menu" class="hidden md:hidden flex-col absolute top-full left-0 w-full bg-white border-t border-gray-200 shadow-md max-h-[80vh] overflow-y-auto z-40 px-4 py-4 space-y-4 transition-all duration-300 ease-in-out">
    <a href="{{ '/about/' | relative_url }}" class="nav-link text-sm">About</a>
    <a href="{{ '/projects/' | relative_url }}" class="nav-link text-sm">Research</a>
    <a href="{{ '/blog/' | relative_url }}" class="nav-link text-sm">Blog</a>
    <a href="{{ '/resources/' | relative_url }}" class="nav-link text-sm">Resources</a>
    <a href="{{ '/#contact' | relative_url }}" class="nav-link text-sm">Contact</a>
  </div>

</nav>
